html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Bootleg Transit
        link(rel="stylesheet" href="style.css")
        script(type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=ArYlR-_eNxpLOlqWzuAeRapcqJAwNlBs4sWqYHPqZig4XPeNxUmF9NeFLgJ5JYe1' async defer)
    body(onload='loadMapScenario();')
        div(id="title")
            h1 Bootleg Transit
            h3
                i You should honestly just use your legs

        div(id="login")
            h3 Login
            input(type="text" id="login_user" placeholder="Username")
            input(type="password" id="login_pass" placeholder="Password")
            button(onclick="login()") Login
        div(id="main" style="display: none;")
            div(id="main_header" class="main_div")
                p Header
            div(id="main_center" class="main_div")
                div(id="center_routes" class="center_div")
                    p Routes
                div(id="center_map" class="center_div")
                    div(id='myMap')
                div(id="center_notifs" class="center_div")
                    div(class="notification")
                        p
                            b Title
                        p This is a sample notification</p>
                    div(class="notification")
                        p
                            b Title 2
                        p This is another sample notification that has word wrapping
script(src="script.js")
